@tailwind base;
@tailwind components;
@tailwind utilities;  

/*css */
body{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  
}
.container{
    width: 90% ;
    margin: auto;
}
